<!-- RSK World - Free Programming Resources & Source Code -->
<!-- Founder: Molla Samser | Designer & Tester: Rima Khatun -->
<!-- Website: https://rskworld.in/contact.php | Year: 2026 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LICENSE</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <h1>Project License</h1>
    </header>
    <main>
      <section class="tools">
        <div class="tool">
          <pre>{{ content }}</pre>
        </div>
      </section>
    </main>
  </body>
  </html>

